body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-container{
margin-top: 90px;
}


.pod-box{
  background-color:#817e7e66;
  border-radius: 76px;
  height:78vh;
  position: relative;
  border: 1px solid transparent;
  box-shadow:inset 0 0 40px #4e4c4c;
}


 .pod-box .pod-display{
  position: relative;
  width:95%;
  height: 43%;
  border-radius: 8px;
  background-color: rgb(226, 190, 190);
  border: solid black 3px ;
  background-image: url('./assets/images/home_display.jpg');
  background-size: cover;
}

.pod-box .pod-controller{
  width: 68%;
  height: 40%;
  background-color: rgb(247, 247, 247);
  border-radius: 50%;
  position: relative;
}

.pod-box .pod-controller #Menu{
  color: #817e7e66;
  font-size: 1.5rem;
}
.pod-box .pod-controller #Menu h3{
  font-weight: 700;
}

.controller-mid i{
  display: inline-block;
  color: #817e7e66;
  font-size: 1.5rem;
 
}

.pod-box .pod-controller .play-pause{
  color: #817e7e66;
  font-size: 1.5rem;

}
.pod-box .pod-controller .controller-mid .enter{
  width:90px;
  height: 90px;
  border-radius: 50%;
  background-color: #817e7e66;
  
}

.controller-mid{
position: relative;
bottom: 8px;
}



.pod-box{
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  opacity: 1;
}

.pod-box .pod-display .list{
  background-color: aliceblue;
  width:50%;
  height: 100%;
  padding-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius:8px ;
  padding-left: 20px;
}

/* 

.pod-box .pod-display .list h3{
  margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.pod-display .list h5:hover{
  background-color: rgb(127, 202, 255);
  color: white;
}


.pod-display .list span{
  color: white;
  margin-left: 40px;
} 

.pod-display .list h5{
  padding: 7%;
  margin: 7%;
} */
/*----------------------------------- games---------------------------------- */
/* .games{
  background-color: rgb(129, 120, 120);
  height: 100%;
  border-radius: 7px;
}

.games img{
  margin-top: 50px;
  height: 150px;
  width: 150px;
} */


/*------------------------------- settings------------------------------------ */
/* .settings{
  background-color: white;
  height: 100%;

}
.settings img{
  margin-top: 50px;
  height: 150px;
  width: 150px;
} */

